*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #E0F7FF; 
}

.container{
    width: 350px;
    margin: 50px auto;
    background: linear-gradient(#beefff93,white);
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 123, 255, 0.3); 
    text-align: center;
    border: 7px solid rgba(0, 85, 255, 0.303); 
}

h2{
    color: #1A75FF; 
    margin-bottom: 15px;
    font-weight: bold;
}

input{
    width: 90%;
    padding: 12px;
    margin: 12px 0;
    border: 2px solid #66B2FF; 
    border-radius: 12px;
    font-size: 16px;
    background-color: #F0FAFF; 
    transition: 0.2s;
}

input:focus{
    border-color: #1A75FF; 
    outline: none;
    background-color: #D6F0FF; 
}

button{
    padding: 12px 20px;
    background-color: #1A75FF; 
    color: white;
    border: 2px solid #0D4D99; 
    border-radius: 12px;
    cursor: pointer;
    font-size: 17px;
    font-weight: bold;
    transition: 0.2s;
    margin-top: 10px;
}

button:hover{
    background-color: #4DA6FF;
}

#result p{
    font-size: 18px;
    margin: 8px 0;
    color: #1A75FF; 
    font-weight: bold;
}